.main-nav {
    background: #666;
}

.main-nav ul {
    padding: 0;
    margin: 0;
}

.main-nav > ul {
    display: flex;
}

.main-nav li {
    display: block;
    list-style: none outside; 
    position: relative;  
}

.main-nav a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #FFF;
    background: #333;
    transition: background 0.3s ease-in;
    outline: none;
}

.main-nav a:focus,
.main-nav a:hover {
    background: #900;
}

.main-nav a:focus {
    text-decoration: underline;
}

/* Level 2 */

.main-nav > ul ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    pointer-events: none;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    overflow: hidden;
    /* box-shadow: 0 0.3em 0.6rem 0.15rem rgba(0, 0, 0, 0.3); */
}

.main-nav li:hover > ul {
    pointer-events: all;
}

.main-nav > ul ul li {
    opacity: 0;
    transform: translateY(-2rem);
    transition: opacity 0.2s ease-in, transform 0.2s ease-out;
}
    
.main-nav li:hover > ul > li {
    transform: translateY(0);
    opacity: 1;
}

.main-nav li:hover > ul > li:nth-child(2) { transition-delay: 0.08s; }
.main-nav li:hover > ul > li:nth-child(3) { transition-delay: 0.16s; }
.main-nav li:hover > ul > li:nth-child(4) { transition-delay: 0.24s; }
.main-nav li:hover > ul > li:nth-child(5) { transition-delay: 0.32s; }

.main-nav > ul ul a {
    padding: 1em 2.5em 1em 1em;
}